@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: url('image/login.png') no-repeat center /cover;
}
.container{
    /* width:100%; */
    height:100vh;
  padding: 25px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
form{
    margin-right: 50%;
    /* border: 2px solid black; */
    background: rgb(230, 224, 224);
    /* height: 60vh; */
 }
center .log{
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* color: rgb(49, 143, 155); */
}
.footer__social a:hover{
    color:rgb(49, 143, 155); ;
}
.container form{
    width:90%;
    max-width: 400px;
    padding: 50px 30px 20px;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.5);
    position: relative;
}
.input-group{
    width:100%;
    display: flex;
    align-items: center;
    margin: 10px 0;
    position: relative;
}
.input-group label{
    flex-basis: 28%;
}
.input-group input{
    flex-basis: 68%;
    background: transparent;
    border:0;
    outline: 0;
    padding: 10px 0;
    border-bottom: 1px solid #999;
    color: #333;
    font-size: 16px;
}
::placeholder{
    font-size: 14px;
}
form button{
    background: rgb(49, 143, 155);
    /* color:#fff; */
    border-radius: 4px;
    font-size: 19px;
    font-weight: 200;
    border: 1px solid rgba(255,255,255,0.7);
    padding: 10px 10px;
    outline: 0;
    cursor: pointer;
    display: block;
    margin: 30px auto 10px;
}
.input-group span{
    position: absolute;
    bottom: 12px;
    right: 17px;
    font-size: 14px;
    color: red;
}
#submit-error{
    color: red;
}
.input-group span i{
    color: seagreen;
}
.log{
    font-family:'Satisfy', cursive;
}

.footer__social-link{
    align-items: center;
    color:#141a34;
   font-size: large;
}


/* @media (max-width:991px){
    .conatiner{
        height:100vh;
    }
    form{
     width:90%;
    max-width: 400px;
    padding: 50px 30px 20px;
    position: relative;
    }
}
@media (max-width:768px){
    .conatiner{
        height:100vh;
    }
    form{
     width:90%;
    max-width: 400px;
    padding: 50px 30px 20px;
    position: relative;
    }
}

@media (max-width:450px){
    .conatiner{
        height:100vh;
    }
    form{
     width:90%;
    max-width: 400px;
    padding: 50px 30px 20px;
    position: relative;
    }
} */